### Giả sử bạn có một DataFrame df_employees với các cột sau:

### employee_id: Mã số nhân viên
###name: Tên nhân viên
###age: Tuổi của nhân viên
###department: Phòng ban mà nhân viên làm việc (ví dụ: "Sales", "Engineering", "HR")
###salary: Mức lương của nhân viên
###city: Thành phố mà nhân viên đang sinh sống

###data = [
###    (1, "Alice", 30, "Sales", 50000, "New York"),
###    (2, "Bob", 45, "Engineering", 120000, "San Francisco"),
###    (3, "Charlie", 50, "HR", None, None),
###    (4, "David", 29, "Sales", 52000, "Los Angeles"),
###    (5, "Eva", None, "Engineering", 115000, "Chicago"),
###    (6, "Frank", 35, "Engineering", 99000, "New York"),
###    (7, "Grace", 27, "Sales", 50000, "Chicago")
###]
###columns = ["employee_id", "name", "age", "department", "salary", "city"]

In [0]:
data = [
    (1, "Alice", 30, "Sales", 50000, "New York"),
    (2, "Bob", 45, "Engineering", 120000, "San Francisco"),
    (3, "Charlie", 50, "HR", None, None),
    (4, "David", 29, "Sales", 52000, "Los Angeles"),
    (5, "Eva", None, "Engineering", 115000, "Chicago"),
    (6, "Frank", 35, "Engineering", 99000, "New York"),
    (7, "Grace", 27, "Sales", 50000, "Chicago")
]
columns = ["employee_id", "name", "age", "department", "salary", "city"]

data = spark.createDataFrame(data = data, schema = columns)

In [0]:
display(data)

employee_id,name,age,department,salary,city
1,Alice,30,Sales,50000,New York
2,Bob,45,Engineering,120000,San Francisco
3,Charlie,50,HR,null,null
4,David,29,Sales,52000,Los Angeles
5,Eva,null,Engineering,115000,Chicago
6,Frank,35,Engineering,99000,New York
7,Grace,27,Sales,50000,Chicago

#### Bài tập 1:Lọc ra các nhân viên có salary không bằng 50,000.

In [0]:
display(data.filter(data.salary != 50000))

employee_id,name,age,department,salary,city
2,Bob,45,Engineering,120000,San Francisco
4,David,29,Sales,52000,Los Angeles
5,Eva,null,Engineering,115000,Chicago
6,Frank,35,Engineering,99000,New York

#### Bài tập 2: Lọc ra các nhân viên có age lớn hơn 50 và salary lớn hơn 50,000.

In [0]:
data.filter((data.age > 50) & (data.salary > 50000)).show()

+-----------+----+---+----------+------+----+
|employee_id|name|age|department|salary|city|
+-----------+----+---+----------+------+----+
+-----------+----+---+----------+------+----+

####Bài tập 3: Lọc ra tất cả các nhân viên không có thông tin về salary.

In [0]:
data.filter(data.salary.isNull()).show()

+-----------+-------+---+----------+------+----+
|employee_id|   name|age|department|salary|city|
+-----------+-------+---+----------+------+----+
|          3|Charlie| 50|        HR|  null|null|
+-----------+-------+---+----------+------+----+

#### Bài tập 4: Lọc ra các nhân viên có city chứa từ "New".

In [0]:
data.filter(data.city.like("%New%")).show()

+-----------+-----+---+-----------+------+--------+
|employee_id| name|age| department|salary|    city|
+-----------+-----+---+-----------+------+--------+
|          1|Alice| 30|      Sales| 50000|New York|
|          6|Frank| 35|Engineering| 99000|New York|
+-----------+-----+---+-----------+------+--------+

#### Bài tập 5:  Lọc ra các nhân viên có department là "Sales" hoặc "HR".

In [0]:
data.filter(data.department.isin("Sales","HR")).show()

+-----------+-------+---+----------+------+-----------+
|employee_id|   name|age|department|salary|       city|
+-----------+-------+---+----------+------+-----------+
|          1|  Alice| 30|     Sales| 50000|   New York|
|          3|Charlie| 50|        HR|  null|       null|
|          4|  David| 29|     Sales| 52000|Los Angeles|
|          7|  Grace| 27|     Sales| 50000|    Chicago|
+-----------+-------+---+----------+------+-----------+

#### Bài tập 6: Lọc ra các nhân viên có name chứa chữ cái "a".

In [0]:
data.filter(data.name.contains("a")).show()

+-----------+-------+----+-----------+------+-----------+
|employee_id|   name| age| department|salary|       city|
+-----------+-------+----+-----------+------+-----------+
|          3|Charlie|  50|         HR|  null|       null|
|          4|  David|  29|      Sales| 52000|Los Angeles|
|          5|    Eva|null|Engineering|115000|    Chicago|
|          6|  Frank|  35|Engineering| 99000|   New York|
|          7|  Grace|  27|      Sales| 50000|    Chicago|
+-----------+-------+----+-----------+------+-----------+

### Bài tập 7: Lọc ra các nhân viên có tên bắt đầu bằng "D".

In [0]:
data.filter(data.name.startswith("D")).show()

+-----------+-----+---+----------+------+-----------+
|employee_id| name|age|department|salary|       city|
+-----------+-----+---+----------+------+-----------+
|          4|David| 29|     Sales| 52000|Los Angeles|
+-----------+-----+---+----------+------+-----------+

### Bài tập 8: Lọc ra các nhân viên có city kết thúc bằng "go".

In [0]:
data.filter(data.city.endswith("go")).show()

+-----------+-----+----+-----------+------+-------+
|employee_id| name| age| department|salary|   city|
+-----------+-----+----+-----------+------+-------+
|          5|  Eva|null|Engineering|115000|Chicago|
|          7|Grace|  27|      Sales| 50000|Chicago|
+-----------+-----+----+-----------+------+-------+

### Nâng cao

####Bài tập 1: Lọc kết hợp nhiều điều kiện với AND và OR
######Yêu cầu:
######Lọc ra các nhân viên lớn hơn 40 tuổi và có mức lương trên 90,000, hoặc làm việc trong bộ phận "HR".

In [0]:
data.filter((data.age > 40) & (data.salary > 90000) | data.department.like("HR")).show()

+-----------+-------+---+-----------+------+-------------+
|employee_id|   name|age| department|salary|         city|
+-----------+-------+---+-----------+------+-------------+
|          2|    Bob| 45|Engineering|120000|San Francisco|
|          3|Charlie| 50|         HR|  null|         null|
+-----------+-------+---+-----------+------+-------------+

####Bài tập 2: Lọc dữ liệu sử dụng regexp_extract
#####Yêu cầu:
#####Lọc ra các nhân viên làm việc trong thành phố có tên bắt đầu bằng chữ cái "C"

In [0]:
data.filter(data.city.startswith("C")).show()

+-----------+-----+----+-----------+------+-------+
|employee_id| name| age| department|salary|   city|
+-----------+-----+----+-----------+------+-------+
|          5|  Eva|null|Engineering|115000|Chicago|
|          7|Grace|  27|      Sales| 50000|Chicago|
+-----------+-----+----+-----------+------+-------+

###### Hoặc có thể sử dụng regular expression

In [0]:
from pyspark.sql import functions as f
data.filter(f.regexp_extract(data.city, "^C", 0) != "").show()

+-----------+-----+----+-----------+------+-------+
|employee_id| name| age| department|salary|   city|
+-----------+-----+----+-----------+------+-------+
|          5|  Eva|null|Engineering|115000|Chicago|
|          7|Grace|  27|      Sales| 50000|Chicago|
+-----------+-----+----+-----------+------+-------+

####Bài tập 4: Lọc dữ liệu với điều kiện động
#####Yêu cầu:
#####Lọc ra các nhân viên có salary nằm trong khoảng từ 50,000 đến 100,000 và sắp xếp theo age giảm dần.

In [0]:
data.filter((data.salary>=50000) & (data.salary <=100000)).orderBy(data.age.desc()).show()

+-----------+-----+---+-----------+------+-----------+
|employee_id| name|age| department|salary|       city|
+-----------+-----+---+-----------+------+-----------+
|          6|Frank| 35|Engineering| 99000|   New York|
|          1|Alice| 30|      Sales| 50000|   New York|
|          4|David| 29|      Sales| 52000|Los Angeles|
|          7|Grace| 27|      Sales| 50000|    Chicago|
+-----------+-----+---+-----------+------+-----------+

####Bài tập 5: Lọc dữ liệu với hàm when để tạo cột mới và sau đó lọc
#####Yêu cầu:
#####Tạo một cột mới tên là high_salary với giá trị "Yes" nếu salary lớn hơn 100,000 và "No" nếu ngược lại. Sau đó, lọc chỉ các nhân viên có high_salary là "Yes".

In [0]:
from pyspark.sql.functions import when #using when in functions
data_high_sala= data.withColumn("high_salary", when(data.salary > 100000, "Yes").otherwise("No")) #withColumn: Add new Col
display(data_high_sala)

employee_id,name,age,department,salary,city,high_salary
1,Alice,30,Sales,50000,New York,No
2,Bob,45,Engineering,120000,San Francisco,Yes
3,Charlie,50,HR,null,null,No
4,David,29,Sales,52000,Los Angeles,No
5,Eva,null,Engineering,115000,Chicago,Yes
6,Frank,35,Engineering,99000,New York,No
7,Grace,27,Sales,50000,Chicago,No

In [0]:
data=data.withColumn("high_salary",when(data.salary>100000,"Yes").otherwise("No"))
display(data)

employee_id,name,age,department,salary,city,high_salary
1,Alice,30,Sales,50000,New York,No
2,Bob,45,Engineering,120000,San Francisco,Yes
3,Charlie,50,HR,null,null,No
4,David,29,Sales,52000,Los Angeles,No
5,Eva,null,Engineering,115000,Chicago,Yes
6,Frank,35,Engineering,99000,New York,No
7,Grace,27,Sales,50000,Chicago,No

####Bài tập 6: Lọc với groupBy và having
#####Yêu cầu:
#####Nhóm nhân viên theo department, tính lương trung bình và lọc chỉ các phòng ban có lương trung bình lớn hơn 70,000.

In [0]:
data.groupBy("department")\
    .avg("salary")\
    .filter("avg(salary)>70000").show()

+-----------+------------------+
| department|       avg(salary)|
+-----------+------------------+
|Engineering|111333.33333333333|
+-----------+------------------+

####Bài tập 8: Lọc với hàm distinct và count
#####Yêu cầu:
#####Lọc ra các phòng ban có từ 2 nhân viên trở lên và hiển thị tên các phòng ban đó.

In [0]:
data_new=data.groupBy("department")\
    .count()\
    .filter("count>=2")
data_new.select("department").show()

+-----------+
| department|
+-----------+
|      Sales|
|Engineering|
+-----------+