In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("HandleNull").getOrCreate()

In [4]:
data_student = [
    ("Michael", "Science", 80, "P", 90),
    ("Nancy", "Mathematics", 90, "P", None),
    ("David", "English", 20, "F", 80),
    ("John", "Science", None, "F", None),
    ("Blessy", None, 30, "F", 50),
    ("Martin", "Mathematics", None, None, 70)
]

schema = ["Name", "Subject", "Mark",  "Status", "Attendance"]

df = spark.createDataFrame(data = data_student, schema = schema)

df.show()

+-------+-----------+----+------+----------+
|   Name|    Subject|Mark|Status|Attendance|
+-------+-----------+----+------+----------+
|Michael|    Science|  80|     P|        90|
|  Nancy|Mathematics|  90|     P|      NULL|
|  David|    English|  20|     F|        80|
|   John|    Science|NULL|     F|      NULL|
| Blessy|       NULL|  30|     F|        50|
| Martin|Mathematics|NULL|  NULL|        70|
+-------+-----------+----+------+----------+

## Filter all records with NULL values

In [6]:
df.filter(df.Mark.isNull()).show()

+------+-----------+----+------+----------+
|  Name|    Subject|Mark|Status|Attendance|
+------+-----------+----+------+----------+
|  John|    Science|NULL|     F|      NULL|
|Martin|Mathematics|NULL|  NULL|        70|
+------+-----------+----+------+----------+

## Filter all record without NULL values

In [8]:
df.filter( (df.Mark.isNotNull()) & (df.Attendance.isNotNull())).show()

+-------+-------+----+------+----------+
|   Name|Subject|Mark|Status|Attendance|
+-------+-------+----+------+----------+
|Michael|Science|  80|     P|        90|
|  David|English|  20|     F|        80|
| Blessy|   NULL|  30|     F|        50|
+-------+-------+----+------+----------+