In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [2]:
data_student = [
    ("Michael", "Science", 80, "P", 90),
    ("Nancy", "Mathematics", 90, "P", None),
    ("David", "English", 20, "F", 80),
    ("John", "Science", None, "F", None),
    ("Martin", "Mathematics", None, None, 70),
    (None, None, None, None, None)
]

schema = ["name", "Subject", "Mark", "Status", "Attendance"] 

df = spark.createDataFrame(data_student, schema)

df.show()

+-------+-----------+----+------+----------+
|   name|    Subject|Mark|Status|Attendance|
+-------+-----------+----+------+----------+
|Michael|    Science|  80|     P|        90|
|  Nancy|Mathematics|  90|     P|      NULL|
|  David|    English|  20|     F|        80|
|   John|    Science|NULL|     F|      NULL|
| Martin|Mathematics|NULL|  NULL|        70|
|   NULL|       NULL|NULL|  NULL|      NULL|
+-------+-----------+----+------+----------+

## Drop the records with NULL values -ALL & ANY

In [4]:
df.dropna("all").show()

+-------+-----------+----+------+----------+
|   name|    Subject|Mark|Status|Attendance|
+-------+-----------+----+------+----------+
|Michael|    Science|  80|     P|        90|
|  Nancy|Mathematics|  90|     P|      NULL|
|  David|    English|  20|     F|        80|
|   John|    Science|NULL|     F|      NULL|
| Martin|Mathematics|NULL|  NULL|        70|
+-------+-----------+----+------+----------+

In [5]:
df.dropna("any").show()

+-------+-------+----+------+----------+
|   name|Subject|Mark|Status|Attendance|
+-------+-------+----+------+----------+
|Michael|Science|  80|     P|        90|
|  David|English|  20|     F|        80|
+-------+-------+----+------+----------+

## Drop NULL on selected columns

In [6]:
df.dropna(subset=["Mark", "Status"]).show()

+-------+-----------+----+------+----------+
|   name|    Subject|Mark|Status|Attendance|
+-------+-----------+----+------+----------+
|Michael|    Science|  80|     P|        90|
|  Nancy|Mathematics|  90|     P|      NULL|
|  David|    English|  20|     F|        80|
+-------+-----------+----+------+----------+

## Fill value for all columns if NULL is present

In [8]:
df.fillna(value = 0).show()

+-------+-----------+----+------+----------+
|   name|    Subject|Mark|Status|Attendance|
+-------+-----------+----+------+----------+
|Michael|    Science|  80|     P|        90|
|  Nancy|Mathematics|  90|     P|         0|
|  David|    English|  20|     F|        80|
|   John|    Science|   0|     F|         0|
| Martin|Mathematics|   0|  NULL|        70|
|   NULL|       NULL|   0|  NULL|         0|
+-------+-----------+----+------+----------+

## Fill NULL for specified columns

In [12]:
df.fillna(value = 0, subset=["Mark", "Attendance"]).show()

#Hoặc điền từng giá trị thay cho NULL ở từng khác nhau
df.fillna(value = {"Mark": 10, "Attendance": 20}).show()

+-------+-----------+----+------+----------+
|   name|    Subject|Mark|Status|Attendance|
+-------+-----------+----+------+----------+
|Michael|    Science|  80|     P|        90|
|  Nancy|Mathematics|  90|     P|         0|
|  David|    English|  20|     F|        80|
|   John|    Science|   0|     F|         0|
| Martin|Mathematics|   0|  NULL|        70|
|   NULL|       NULL|   0|  NULL|         0|
+-------+-----------+----+------+----------+

+-------+-----------+----+------+----------+
|   name|    Subject|Mark|Status|Attendance|
+-------+-----------+----+------+----------+
|Michael|    Science|  80|     P|        90|
|  Nancy|Mathematics|  90|     P|        20|
|  David|    English|  20|     F|        80|
|   John|    Science|  10|     F|        20|
| Martin|Mathematics|  10|  NULL|        70|
|   NULL|       NULL|  10|  NULL|        20|
+-------+-----------+----+------+----------+