In [0]:
employee_data = [
    (10, "Raj", "Kumar", "1999", "100", "M", 2000),
    (20, "Rahul", "Rajan", "2002", "200", "F", 8000),
    (30, "Raghav", "Manish", "2010", "100", None, 6000),
    (40, "Raja", "Singh", "2004", "100", "M", 7000),
    (50, "Rama", "Krish", "2004", "400", "M", 9000),
    (60, "Rasul", "Kutty", "2014", "500", "M", 5000),
    (70, "Kumar", "Chand", "2004", "600", "M", 5000)
]

employee_schema = [
    "employee_id", "first_name", "last_name", "doj",
    "employee_dept_id", "gender", "salary"
]

empDF = spark.createDataFrame(data=employee_data, schema=employee_schema)
display(empDF)

employee_id,first_name,last_name,doj,employee_dept_id,gender,salary
10,Raj,Kumar,1999,100,M,2000
20,Rahul,Rajan,2002,200,F,8000
30,Raghav,Manish,2010,100,null,6000
40,Raja,Singh,2004,100,M,7000
50,Rama,Krish,2004,400,M,9000
60,Rasul,Kutty,2014,500,M,5000
70,Kumar,Chand,2004,600,M,5000

#Add new column using constant literal

In [0]:
from pyspark.sql.functions import lit #lit is constant literal
emDF_AddCol = empDF.withColumn("Location", lit("Mumbai")).show()

+-----------+----------+---------+----+----------------+------+------+--------+
|employee_id|first_name|last_name| doj|employee_dept_id|gender|salary|Location|
+-----------+----------+---------+----+----------------+------+------+--------+
|         10|       Raj|    Kumar|1999|             100|     M|  2000|  Mumbai|
|         20|     Rahul|    Rajan|2002|             200|     F|  8000|  Mumbai|
|         30|    Raghav|   Manish|2010|             100|  null|  6000|  Mumbai|
|         40|      Raja|    Singh|2004|             100|     M|  7000|  Mumbai|
|         50|      Rama|    Krish|2004|             400|     M|  9000|  Mumbai|
|         60|     Rasul|    Kutty|2014|             500|     M|  5000|  Mumbai|
|         70|     Kumar|    Chand|2004|             600|     M|  5000|  Mumbai|
+-----------+----------+---------+----+----------------+------+------+--------+

#Add new col by calculation

In [0]:
from pyspark.sql.functions import concat
empDF_AddCol = empDF.withColumn("Bonus",empDF.salary *0.1).withColumn("Name",concat("first_name",lit(" "),"last_name"))
display(empDF_AddCol)

employee_id,first_name,last_name,doj,employee_dept_id,gender,salary,Bonus,Name
10,Raj,Kumar,1999,100,M,2000,200.0,Raj Kumar
20,Rahul,Rajan,2002,200,F,8000,800.0,Rahul Rajan
30,Raghav,Manish,2010,100,null,6000,600.0,Raghav Manish
40,Raja,Singh,2004,100,M,7000,700.0,Raja Singh
50,Rama,Krish,2004,400,M,9000,900.0,Rama Krish
60,Rasul,Kutty,2014,500,M,5000,500.0,Rasul Kutty
70,Kumar,Chand,2004,600,M,5000,500.0,Kumar Chand